name: Auto push2NowCoder

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Create local changes
      run: |
        echo "bot auto push at::: $(date)" >> .action.log
        git add -A
    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add -A
        git commit -am "update from github action bot at $(date)"
    - name: Push changes
      uses: We2one/github-push-action@master
      with:
        github_token: ${{ secrets.OWN_GITHUB_TOKEN }}
        repository: ${{ secrets.NOWCODER_REPO }}
        force: true